# This workflow will install Python dependencies and build using Pyinstaller

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
      
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Check-out repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        id: cp310
        with:
          python-version: '3.10.8' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
          
      - run: echo '${{ steps.cp310.outputs.python-version }}'
      - run: ls ${{ steps.cp310.outputs.python-path }}     
      - run: echo "$Python_ROOT_DIR"
      
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Package Application (windows)
        if: runner.os == 'Windows'
        run:  pyinstaller bin/mediapipepose.spec 
             
      - name: Package Application (linux)
        if: runner.os == 'Linux'
        run:  pyinstaller bin/mediapipepose_linux.spec
 
      - name: Upload Artifac
        uses: actions/upload-artifact@v2
        with:
          name: mediapipepose-${{ runner.os }}   
          path: dist

      
          
#      - name: Build Executable
#        uses: Nuitka/Nuitka-Action@v0.4
#        with:
#          script-name: bin/mediapipepose.py
#          onefile: false
#          enable-plugins: tk-inter, numpy

#      - name: Upload Artifacts
#        uses: actions/upload-artifact@v3
#        with:
#          name: ${{ runner.os }} Build
#          path: |
#            build/
